* {
    text-align: center;
    color: black;
    justify-content: center;
}

button {
    width: 50px;
}



body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.cell {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 65px;
    align-items: center;
}

#gameBoard {
    display:grid;
    grid-template-columns: repeat(3, auto);
    width: 200px;
    margin: 50px auto;
}

.players {
    display: flex;
    /* justify-content: space-between; */
}

.buttons {
    padding-top: 35px;
    display: flex;
    justify-content: space-evenly;
}