body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.cell {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#gameBoard {
    display:grid;
    grid-template-columns: repeat(3, auto);
    width: 200px;
    margin: 50px auto;
}